.sharemodel{
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    position: relative;
}

.shareModalCont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.shareModalCont .shareBtn2 .st-center{
 display: flex;
 justify-content: space-evenly;
}