.Selected_Retail{

margin-top: 30px;
    display: flex;
    /* border:1px solid red; */
    cursor: pointer;
    margin-bottom:20px ;
}                                                  
   

.selectedRetail_contact{
    
    margin-right: 10px;
    display: flex;
   
    justify-content: space-between;
    flex-direction: row;

}
.selectedRetail_blueIcon{
    width: 30px;
    height:30px;
}
    

.selected_profile img{
    min-width: 110px;
    max-width: 120px;
    min-height: 120px;
    max-height: 150px;
    border-radius: 5px;

}
.Selected_description{

    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.Selected_description h4{
    font-size: 18px;
 margin-bottom: 0%;

}

.Selected_description span{
    color:rgb(133, 133, 247);
    font-size: 18px;

}
.Selected_description h5{
    margin-top: 0%;
    padding-top: 0%;
    font-size: 15px;
    color:#2c6959;
}
.Selected_description h6{
    margin-top: 0%;
    padding-top: 0%;
    font-size: 13px;

}