.customBtn {
    border: none;
    background-color: #2c6959;
    padding: 15px 20px;
    font-family: "Poppins-SemiBold";
    color: #ffffff;
    border-radius: 4px;
    margin: 10px 0px;
    margin-right: 20px;
    min-width: 180px;
    font-size: 13px;
}

.customBtn:hover{
    background-color: #3e816f;
}