.workshopEditBtn{
    height: 30px;
    width: 100px;
    border: none;
    font-family: Inter-Bold;
    background-color: #2c6959;
    color: #FFFFFF;
    background: #2C6959;
    border-radius: 26px;
    opacity: 1;
    padding: 6px 20px;
    font-size: 14px;
}

.workshop-card .card {
    overflow: hidden;
}
.workshopEditBtn:hover{
    background: #4b8d7b;
}

.workshopEdit{
    border: 2px solid #2c6959;
    border-radius: 3px;
    padding: 5px 12px;
    width: 100px;
    justify-content: space-around;
    display: flex;
}

.worshopCrdDtls{
    width: 100%;
    padding: 10px 10px;
}

.workshopTitle h5{
    color: var(--black);
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    text-transform: capitalize;
    height: 31px;
}
.worshopBx {
    align-items: center;
    margin-bottom: 6px;
}
.worshopBx h6{
    width: 45%;
    font-family: 'Poppins-SemiBold';
    color : var(--black);
    font-size: 12px;
    margin-bottom: 0px;
}
.enrolled{
   
    font-family: 'Poppins-SemiBold';
    color : var(--black);
    font-size: 12px;
    margin-bottom: 0px;
}

.worshopBx span{
    white-space: nowrap;
    width: 50%;
    font-size: 12px;
    font-family: 'Poppins-Regular';
}