.selected_Retail_outline{
border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.retailLocation_searchbox{
    margin-left: 10px;
    border:1px solid #2c6959;
    width:400px;
height:40px;
padding:5px;
    border-radius: 5px;
}
.filter_search_retailLocation{
    display: flex;
}
    .retailLocation_icons {
display: flex;


    }
    .map_box{
        position:relative;
        border:none;
    }
    .map_box img{
        width:100%;
        min-height:450px;
        
    }
.Selectedbox_onMap{
    position:absolute;
    bottom:2%;
    right:40px;
}