.bookSlotTime {
  padding: 15px 0px;
  border: 1px solid #2c6959;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(195, 198, 199);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 8px;
}

.bookSlotCont{
  width: 70%;
}

.timeSection h6{
  font-family: "Poppins-SemiBold";
  font-size: 14px;
  color: var(--lightgray);
}