.context-menu {
  cursor: context-menu;
}

.cpd_signUpPage {
  margin: 0%;
  padding: 0%;
}
.about_con_signup {
  margin-top: 20px;
  padding-top: 40px;
  cursor: pointer;
  border-right: 1px solid gray;
}

.limg_signup {
  align-items: center;
  width: 200px !important;
  margin-bottom: 35px;
}

.common-form-user button.login_aboutCpd {
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid var(--primary);
  border-radius: 6px;
  min-width: 240px;
  font-weight: 600;
  height: 50px;
  color: var(--primary);
  text-decoration: none;
  padding: 10px;
  font-size: 13px;

  font-family: "Poppins-Regular";
}

.common-form-user img.limg_signup {
  min-width: 280px;
}
.login_aboutCpd:hover {
  font-weight: 700;
  text-decoration: underline;
}
.about_cpd_signup {
  border-right: 1px solid grey;
}
.col-lg-4.col-md-6.col-12.signUpPage h4 {
  font-size: 25px;
  font-weight: 600;
  font-family: "Poppins-Regular";
}
.common-form-user .container {
  padding-left: 50px;
  padding-right: 50px;
}
.common-form-user .about_cpd_signup h4 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 15px;
  font-family: "Poppins-Regular";
}
.common-form-user p {
  font-size: 15px;
  color: #232423;
  font-weight: 500;
  line-height: 27px;
  max-width: 520px;
  width: 100%;
  font-family: "Poppins-Regular";
}

@media screen and (max-device-width: 600px) {
  
  .p_signup {
    margin-top: 0px;
    font-size: 16px;
    width: 100%;
    font-family: Georgia;
    text-align: justify;
  }
  .login_aboutCpd {
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
    margin-top: -25px;
    position: absolute;
  }
}
@media (min-width: 601px) and (max-width: 820px) {
  .limg_signup {
    margin-left: 34%;
  }
  .about_cpd_signup {
    border-right: none;
  }
  .col-lg-6.col-md-12.col-12.mt-5.about_cpd_signup h4 {
    text-align: center;
  }
  .p_signup {
    width: 100%;
    font-size: 18px;
  }
  .login_aboutCpd {
    position: absolute;

    margin-top: -32px;
    margin-left: 31px;
  }
}
