.workshopContainer{
  width: 100%;
  overflow-x: hidden;
}
.workshopHdTitle{
  font-family: 'Poppins-SemiBold';
  color: var(--black);
  font-size: 14px;
}
.workshopwiper {
  margin-top: 10px;
  background-color: #f1f9ff;
}
.Workshop_section1 {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f1f9ff;
  padding-bottom: 10px;
}
.coachingBtn {
  min-width: 125px;
  /* padding: 10px 34px; */
  padding: 20;
  /* margin: 10px; */
  padding: 10px 9px 10px 9px;
}
.workshop_headingblock {
  padding-left: 70px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.workshop_headingblock h1 {
  font-family: Inter-Bold;
  font-size: 40px;
  color: #232423;
  text-align: left;
}

.workshop_headingblock h5 {
  color: #2c6959;
  font-family: Inter-Regular;
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 10px;
}
.workshop_headingblock h6 {
  color: #232423;
  font-size: 17px;
  font-family: Inter-Regular;
}
.workshop_imageblock {
  padding-right: 70px;
  padding-top: 0px;
  /* padding-bottom: 50px; */
  width: 400px;
  height: 290px;
}
.workshop_imageblock img {
  width: 90%;
  height: 90%;
}

.workshop_searchBar {
  position: relative;
}
.workshop_searchBar input {
  border-radius: 26px;
  padding: 10px;
  padding-left: 40px;
  color: #2c6959;
}
#workshop_search {
  color: #2c6959;
  position: absolute;
  top: 15px;
  right: 30px;
}
.workshop_searchBox {
  padding-left: 10px;
  /* padding-right: 50px; */
  display: flex;
  align-items: center;
}
.workshop_searchBox h5 {
  font-family: 'Poppins-SemiBold';
  color: var(--black);
  /* margin-bottom: 0%; */
  font-size: 18px;
  /* padding-top: 20px; */
}

.Workshop_section2 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  padding-top: 20px;
}
.workshop-card .card {
  cursor: pointer;
  box-shadow: 3px 11px 20px #00000029;
  border: 0.5px solid #d1cfcf;
  border-radius: 7px;
  background: #ffffff;
  margin-bottom: 20px;
  transition: 0.6s;
}
.workshop-card .card:hover {
  transform: scale(1.1);
}
.workshopcard_media {
  width: 100%;
  /* height: 100%; */
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.workshopcard_media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.workshopcard_media .tags_onImage {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ed1066;
}
.workshopcard_media .tags_onImage h6 {
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 5px;

  margin-bottom: 0%;
}
.workshopcard_descriptionBox {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.workshopcard_descriptionBox h4 {
  color: black;
  font-size: 15px;
  margin-bottom: 0px;
  font-family: "Poppins-SemiBold";
  color: var(--black);
}

.workshopcard_descriptionBox h5 {
  color: rgb(153, 152, 152);
  font-size: 13px;
  font-family: Inter-Bold;
}
.workshopcard_descriptionBox h6 {
  font-size: 12px;
  font-family: "Poppins-SemiBold";
  color: var(--black);
  color: #232423;
  padding-right: 5px;
}
.workshop_FreeBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workshop_FreeBox h6 {
  margin-bottom: 0%;
}
.workshopcard_descriptionBox .domainBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.workshopcard_descriptionBox .colorText {
  color: #2c6959;
}
.workshopcard_descriptionBox #enrolled {
  color: #ed1066;
  font-size: 12px;
  padding-top: 10px;
}

.viewDetailsBox img {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}
.viewDetailsBox span {
  /* padding-left: 10px; */
  font-size: 12px;
  font-family: Inter-Bold;
}
.viewDetailsBox #heart-icon {
  color: #232423;
  font-size: 20px !important;
}
.viewDetailsBox #heart-icon:hover {
  color: #ed1066;
  font-size: 21px !important;
}
#enrolled span {
  color: #232423 !important;
}

.workshop-card .card:hover {
  transition: transform 400ms ease-in-out;
  transform: translate(1.2);
}

@media screen and (max-device-width: 480px) {
  .workshop_headingblock {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .coachingBtn {
    min-width: 125px;
    /* padding: 10px 34px; */
    padding: 20;
    margin: 10px;
    padding: 10px 9px 10px 9px;
  }
  .workshop_headingblock h1 {
    font-size: 30px;
  }
  .workshop_headingblock h5 {
    font-size: 15px;

    padding-top: 0px;
    padding-bottom: 0px;
  }
  .workshop_headingblock h6 {
    font-size: 10px;
  }
  .workshop_imageblock {
    padding-right: 0px;
    width: 100%;
    height: 280px;
  }
  .workshop_searchBox {
    padding-left: 0px;
    padding-right: 0px;
  }
  .workshop_searchBox h5 {
    font-size: 14px;
  }
  .workshop_searchBar input {
    padding: 5px;
    padding-left: 20px;
  }
  #workshop_search {
    color: #2c6959;
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .workshopcard_descriptionBox h4 {
    color: black;
    font-size: 13px;
    font-family: Inter-Bold;
    margin-bottom: 0px;
  }
  .workshopcard_descriptionBox h6 {
    padding-right: 0px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .coachingBtn {
    min-width: 125px;
    /* padding: 10px 34px; */
    padding: 20;
    margin: 10px;
    padding: 10px 9px 10px 9px;
  }
  .workshop_imageblock {
    width: 300px;
  }
  .workshop_headingblock {
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .workshop_headingblock h1 {
    font-size: 30px;
  }
  .workshop_headingblock h5 {
    font-size: 15px;

    padding-top: 0px;
    padding-bottom: 0px;
  }
  .workshop_headingblock h6 {
    font-size: 13px;
  }
  .workshop_imageblock {
    padding-right: 0px;

    width: 100%;
    height: 280px;
  }
  .workshop_searchBox {
    padding-left: 0px;
    padding-right: 0px;
  }
  .workshop_searchBox h5 {
    font-size: 14px;
  }
  .workshop_searchBar input {
    padding: 5px;
    padding-left: 20px;
  }
  #workshop_search {
    color: #2c6959;
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .workshopcard_descriptionBox h4 {
    color: black;
    font-size: 13px;
    font-family: Inter-Bold;
    margin-bottom: 0px;
  }
  .workshopcard_descriptionBox h6 {
    padding-right: 0px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 961px) {
  .coachingBtn {
    min-width: 125px;
    /* padding: 10px 34px; */
    padding: 20;
    margin: 10px;
    padding: 10px 9px 10px 9px;
  }
  .workshop_headingblock {
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .workshop_headingblock h1 {
    font-size: 30px;
  }
  .workshop_headingblock h5 {
    font-size: 15px;

    padding-top: 0px;
    padding-bottom: 0px;
  }
  .workshop_headingblock h6 {
    font-size: 13px;
  }
  /* .workshop_imageblock {
             padding-right: 0px;
            
            
             width: 100%;
             height: 280px;
         } */
  .workshop_searchBox {
    padding-left: 0px;
    padding-right: 0px;
  }
  .workshop_searchBox h5 {
    font-size: 14px;
  }
  .workshop_searchBar input {
    padding: 5px;
    padding-left: 20px;
  }
  #workshop_search {
    color: #2c6959;
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .workshopcard_descriptionBox h4 {
    color: black;
    font-size: 13px;
    font-family: Inter-Bold;
    margin-bottom: 0px;
  }
  .workshopcard_descriptionBox h6 {
    padding-right: 0px;
  }
}
@media screen and (min-device-width: 961px) and (max-device-width: 1024px) {
  .coachingBtn {
    min-width: 125px;
    /* padding: 10px 34px; */
    padding: 20;
    margin: 10px;
    padding: 10px 9px 10px 9px;
  }
  .workshop-card {
    width: 100%;
  }
}

.enrollBtn {
  padding: 4px 12px;
  background: #2c6959;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 50px;
  width: 100px;
  margin-top: -6px;
}
