.opacity_nav{
    opacity:0.5;
  }
  .cpd_logo {
    margin: 5px;
    width: 140px;
  
    align-items: center;
  }
  [disabled]{
    cursor:default;
  }
  .header1_afterlogin {
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 5px solid #2c6959;
    height: 10%;
    padding-bottom: 0px;
  }
  
  .nav_img {
    margin: 1%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .nav_middlebox img {
    width: 40px;
    height: 30px;
  }
  
  .nav_img button{
    height: 40px;
      margin-top: 8px;
      border-radius: 5px;
      border: none;
      background-color: #2c6959;
      color: white;
      min-width: 100px;
      max-width: 150px;
  }
  /* .working h6{
    color:black;
  } */
  
  .nav_img h6 {
    font-size: 13px;
    color: var(--black);
    font-weight: 500;
    font-family: 'Poppins-SemiBold';
  }
  
  .dperson {
    margin: 10px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-left: 1px solid grey;
  }
  .userprofile_block {
    align-items: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }
  .userprofile_row1 img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    
  }
  .userprofile_row1 span {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins-Regular';
  }
  span.userName {
    position: relative;
    margin-top: 0px;
    top: 7px;
    cursor: pointer;
  }
  .userprofile_row2 {
    align-items: center;
  }
  .points {
    width: 20px;
    height: 20px;
  }
  .userprofile_row2 span {
    font-size: 12px;
    width: 100px;
  }