.coachScreen {
  padding-top: 27px;
  background-color: #f1f9ff;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.coachBtnCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40% !important;
}

.createCoachingBtn {
  background: #2c6959 !important;
  color: white !important;
}
.coachScreen_left h5 {
  color: #232423;
  font-family: Inter-Bold;
  font-size: 25px;
  /* padding-top: 25px; */
  font-family: "Poppins-SemiBold";
}

.coach_searchBar {
  /* margin-top: 25px; */
  position: relative;
}

.coachingBtn {
  /* width: 180px; */
  font-family: "Poppins-Regular";
  font-size: 13px;
}

.coach_searchBar input {
  border-radius: 26px;
  padding: 10px;
  padding-left: 40px;
  color: #2c6959;
  font-family: "Poppins-Regular";
}
#coach_search {
  color: #2c6959;
  position: absolute;
  top: 15px;
  right: 30px;
}

.coachDesc {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  left: 50%;
  transform: translateX(-10%);
  width: 300px;
  min-height: 50px;
  padding: 10px 10px;
  border: 1px solid rgb(200, 198, 198);
  background-color: white;
  border-radius: 4px;
}

.coachScreen_right .card {
  margin-top: 30px;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 12px;
  background-color: #fff;
  display: flex;

  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
}
.CoachScreen_coachesList .img-box {
  margin-right: 0% !important;
}
.CoachScreen_coachesList .img-placeholder {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
  margin-right: 0% !important;
}

.CoachScreen_coachesList .img-placeholder img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.coachscreen_coachname {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.coachscreen_coachname svg {
  right: 10px;
  color: #232423;
  position: absolute;
  font-size: 25px;
  align-items: center;
  display: flex;
}

.nameBox h4 {
  font-weight: 400;
}
.nameBox p {
  font-weight: 300;
}
.nameBox a {
  color: #888;
  text-decoration: none;
}
.nameBox a:hover {
  color: inherit;
}
.CoachScreen_coachesList .card {
  cursor: pointer;

  background: #ffffff;
  box-shadow: 0px 6px 18px #00000029;
  border: 0.20000000298023224px solid #bbb8b8;
  border-radius: 9px;
  opacity: 1;
  padding: 5px;
}

.coachscreen_coachname {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.coachscreen_coachname svg {
  right: 10px;
  color: #232423;
  position: absolute;
  font-size: 25px;
  align-items: center;
  display: flex;
}

.coaches_tooltip .tooltiptext {
  /* overflow:auto; */
  /* height:150px; */
  visibility: hidden;
  width: 450px;
  background-color: #ffffff;
  box-shadow: 0px -4px 59px #00000047;
  border: 0.20000000298023224px solid #bdbebee8;
  border-radius: 5px 5px 5px 8px;
  color: #fff;
  text-align: left;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 95%;
  left: 38%;

  margin-left: -120px;
}

.coaches_tooltip .tooltiptext h5 {
  color: #2c6959;
  text-align: left;
}
.coaches_tooltip .tooltiptext p {
  height: 120px;
  overflow: auto;
  color: var(--lightgray);
  font-size: 13px;
  line-height: 19px;
}
.coaches_tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 42%;
  margin-left: -5px;

  border-width: 15px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
.coaches_tooltip:hover .tooltiptext {
  visibility: visible;
}
.CoachScreen_coachesList .card {
  background: #ffffff;
  box-shadow: 0px 6px 18px #00000029;
  border: 0.20000000298023224px solid #bbb8b8;
  border-radius: 9px;
  opacity: 1;
  padding: 5px;
}

@media screen and (max-device-width: 480px) {
  .coaches_tooltip .tooltiptext {
    padding: 10px;
    width: 100%;
    left: 42%;
  }
  .coaches_tooltip .tooltiptext::after {
    left: 90%;
    right: 0px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .coaches_tooltip .tooltiptext {
    margin-left: -190px;
    padding: 10px;
    width: 100%;
    left: 42%;
  }
  .coaches_tooltip .tooltiptext::after {
    left: 93%;
    right: 8px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 961px) {
  .coaches_tooltip .tooltiptext {
    padding: 10px;
    /* left:50%; */
  }
  .coaches_tooltip .tooltiptext::after {
    left: 48%;
  }
}
.coach_List_bookButton {
  position: absolute;
  bottom: 0px;
  margin-right: 10px;
  height: 40px;
  width: 95%;
  border: none;
  font-family: Inter-Bold;
  background-color: #2c6959;
  color: #ffffff;
  background: #2c6959;
  border-radius: 26px;
  opacity: 1;
}
.coach_List_bookButton:hover {
  background-color: #d2d2d2;
  color: #2c6959;
}
.CoachScreen_coachesList h5 {
  font-weight: 700;
  color: #232423;
  letter-spacing: 0px;
  font-size: 17px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.CoachScreen_coachesList p {
  color: #232423;
  font-size: 13px;
  margin-bottom: 0px;
  font-family: Inter-Regular;
}
.coaches_homescreen_availbalilityInner {
  display: flex;
}
.coaches_homescreen_availbalilityInner h5 {
  min-width: 80px;
  font-size: 14px;
}
.CoachScreen_coachesList
  .availabilityBox
  .coaches_homescreen_availbalilityInner
  h6 {
  min-width: 80px;
  color: #232423;
  font-size: 14px;
  font-family: Inter-Bold;
}
.nameBox {
  padding-right: 0px;
  padding-left: 0%;
}
.availabilityBox {
  position: relative;
  padding-left: 0%;
}
.nameBox .details {
  margin-top: 10px !important;
}

.CoachScreen_coachesList {
  padding: 10px;
}
.coaches_homescreen_availbalilityInner h5 svg {
  font-size: 14px;
}

.CoachScreen_coachesList .nameBox h6 {
  color: #2c6959;
  font-size: 15px;
  font-family: Inter-Bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
.CoachScreen_coachesList .timeSlot {
  color: #232423;
  font-size: 12px;
  font-family: Inter-Regular;
}
.CoachScreen_coachesList .availabilityBox span {
  color: #232423;
  font-size: 14px;
  font-family: Inter-Regular;
}
.CoachScreen_coachesList .availabilityBox img {
  padding-left: 5px;
  padding-right: 5px;
  width: 25px;
  height: 25px;
}

@media screen and (max-device-width: 480px) {
  .coachScreen {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nameBox {
    padding-top: 10px;
    padding-left: 20px;
  }
  .availabilityBox {
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 20px;
  }
  .coach_List_bookButton {
    position: relative;
    width: 100%;
  }
  .coachScreen_right .card {
    margin-top: 20px;
  }
  .coaches_tooltip .tooltiptext {
    padding: 10px;
    width: 100%;
    left: 18%;
  }
  .coaches_tooltip .tooltiptext::after {
    left: 90%;
    right: 0px;
  }
  .CoachScreen_coachesList .img-placeholder {
    min-height: 315px !important;
    max-height: 315px !important;
    object-fit: cover !important;
  }
  .CoachScreen_coachesList p {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .CoachScreen_coachesList .img-placeholder img {
    height: 300px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .coachScreen {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nameBox {
    padding-top: 10px;
    padding-left: 20px;
  }
  .availabilityBox {
    padding-top: 10px;
    padding-left: 20px;
  }
  .coach_List_bookButton {
    position: relative;
    width: 100%;
  }
  .coachScreen_right .card {
    margin-top: 20px;
  }
  .CoachScreen_coachesList p {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .coaches_tooltip .tooltiptext {
    margin-left: -190px;
    padding: 10px;
    width: 100%;
    left: 42%;
  }
  .coaches_tooltip .tooltiptext::after {
    left: 93%;
    right: 8px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 961px) {
  .coaches_tooltip .tooltiptext {
    padding: 10px;
    /* left:50%; */
  }
  .coaches_tooltip .tooltiptext::after {
    left: 53%;
  }
}
/* @media screen and (min-device-width: 961px) and (max-device-width: 1024px) {
.card_large{
  width:100%;
}

.CoachScreen_coachesList p {
  
  padding-top: 5px;
  padding-bottom: 5px;
}

} */

.coachingBtn {
  border-radius: 4px;
  background-color: white;
  border: 2px solid #2c6959;
  color: #2c6959;
  font-weight: 500;
}

.chbAct {
  background-color: #2c6959;
  color: white;
}

.noDataCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noDataCont img {
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.coachingEdit {
  border: 2px solid #2c6959;
  border-radius: 3px;
  padding: 5px 12px;
  width: 100px;
  justify-content: space-around;
  display: flex;
  position: absolute;
}

/* here designing new card of the coachings */

.coachingCrd {
  margin: 16px 10px 16px 0px;
  width: 98%;
  padding: 15px;
  overflow: hidden;
  font-family: "Poppins-SemiBold";
  border-radius: 8px;
  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
}

.coachImg {
  border-radius: 12px;
  margin-left: 10px;
  margin-right: 10px;
  height: 140px;
  object-fit: cover;
  width: 78%;

}

.coachName {
  text-transform: capitalize;
  color: var(--black);
  font-family: "Poppins-SemiBold";
  font-size: 15px;
  min-width: 140px;
}

.coachContr {
  margin-bottom: 12px;
}

.coachContr h6 {
  color: var(--primary);
  margin-bottom: 2px;
  font-size: 14px;
}

.coachContr span {
  color: var(--lightgray);
  font-size: 12px;
}

.idetailsIcon {
  color: gray;
  margin-left: 8%;
}
.coachCont2 {
  margin-bottom: 8px;
}
.coachCont2 h6 {
  width: 32%;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 0px;
}

.coachCont2 span {
  width: 58%;
  color: var(--lightgray);
  font-size: 12px;
  text-transform: capitalize;
}

.bookbtnBold {
  width: 39%;
  bottom: 29px;
  right: 30px;
}

.editBtnBold{
  width: 120px;
  bottom: 15%;
  right: 10%;
 
}