#coachFormstimebutton {
  margin-left: 10px;
  border: none;
  color: #2c6959;
  font-size: 15px;
  background-color: transparent;
}
.resume_img2{
  object-fit: cover;
  width: 116px;
  height: 111px;
  overflow: hidden;
  margin-top: 14px;
  border-radius: 10px;
}

.resume_img2 img{
  width: 100%;
  height: 100%;
}

.coachshowCurrent {
  margin-left: 10px;
  font-size: 15px;
  color: #2c6959;
}
.coacheshowtime {
  font-size: 20px;
}
.css-1igvx5z-timeSelected-time-TopBar {
  font-size: 30px !important;
  color: var(--top-selected-color, #2c6959) !important;
}
.css-rt16tf-timeSelected-time {
  font-size: 30px !important;
  color: var(--top-selected-color, #2c6959) !important;
}
.css-1lnifv0-colon {
  font-size: 30px !important;
}
.css-nntsr1-time {
  font-size: 30px !important;
}

.css-1wtkbk-time-TopBar {
  font-size: 30px !important;
  color: var(--top-meridiem-color, #2c6959) !important;
}
.css-1outj7w-meridiem {
  font-weight: 900;
  font-size: 20px !important;
  color: var(--top-meridiem-color, #2c6959) !important;
}
.css-200z2t-outerCircle {
  fill: var(--hand-circle-outer, #2c6959) !important;
}
.css-yxfhll-line {
  stroke: var(--hand-line-color, #2c6959) !important;
}
.css-uby47j-centerCircle {
  fill: var(--hand-circle-center, #2c6959);
}
.css-1ctvv7l-numbersStyle {
  text-shadow: 1px 1px #ffffff;
}
.css-hcsisw-wrapper {
  padding: 0px 16px !important;
}
.css-1157z6n-style {
  padding: 10px 0 10px;
}
.css-dlroum-meridiem {
  background: var(--meridiem-selected-bg-color, #2c6959) !important;
  color: var(--meridiem-selected-text-color, #ffffff) !important;
}
.css-1n3f8ki-meridiem {
  background: var(--meridiem-selected-bg-color, #2c6959) !important;
  color: var(--meridiem-selected-text-color, #ffffff) !important;
}
.css-yo7vjg-doneButton {
  font-weight: 900 !important;
  padding: 10px, 0px;
  color: var(--done-text-color, #2c6959) !important;
}
.css-14lwqju-intermediateMinuteCircle {
  fill: var(--hand-minute-circle, #2c6959) !important;
}
.css-uby47j-centerCircle {
  fill: var(--hand-circle-center, #2c6959) !important;
}
.CoachesFormDays {
  padding-top: 0% !important;
}
.coachesFormQuantityField {
  display: flex;
  align-items: center;
}
.coachesFormQuantityField {
  display: flex;
}
.coachesFormQuantityField .incBtn {
  height: 40px !important;
}
/* .coachesFormQuantityField .input{
            height:40px !important;
            
         } */
.quatityButton {
  height: 40px !important;
  border: 1px solid gray !important;
}
.coachesFormPaid {
  padding-top: 0% !important;
}
.coachesFormSubmit {
  margin-bottom: 20px;

  border: none;
  background-color: #2c6959;
  padding: 10px 60px 10px 60px;
  font-family: Inter-Bold;
  color: #ffffff;
}
.coachForm_weekdays {
  display: flex;
  align-items: center;
  margin: none !important;
}
.coachesFormpriceBox {
  border: 1px solid gray;
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}
.coachesFormpriceBox input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

/* .coachesFormpriceBox label {
                width: 100px;
                cursor: pointer;
                z-index: 90;
                line-height: 1.8em;
            } */

.coachesFormpriceBox label,
.coachesFormpriceBox input {
  height: 40px;
  text-align: center;
  align-items: center;
  display: block;
  position: absolute;
  font-size: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.coachesFormpriceBox input :active {
  border: 1px solid #2c6959;
}

.coachFormSt{
  position: relative;
}

.coachFormSt input{
    height: 20px !important;
    box-shadow: none !important;
    margin-right: 8px;
}

.coachFormSt input[type="file"]{
  height: 89px !important;
  max-height: 54px !important;
  border-radius: 4px;
  padding: 11px 6px;
  width: 100%;
  border: 1px solid #ded6d6;
  margin-bottom: 15px;
}

.coachFormSt label{
    padding-top: 0px;
}

.week_days{
    margin: 20px 0px;
    display: flex;
}
.week_days h5{
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 0px 9px;
    line-height: 40px;
    text-align: center;
    color: gray;
    font-size: 15px;
    cursor: pointer;
}

.time_slots div , .month_calendar>div{
  margin-right: 20px;
}

.time_slots select , .month_calendar input{
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgb(159, 159, 159);
  padding: 0px 8px;
  height: 42px !important;
  font-family: 'Poppins-Regular';
  color: gray;
  border-radius: 4px;
  font-size: 14px;
}

.time_slots select .option{
  width: 100%;
 
}

.month_calendar {
  margin-bottom: 20px;
  margin-top: 20px;
}

.caledarIcons{
  position: absolute;
  top: 110px;
  right: 40px;
  cursor: pointer;
}

.repeadtd input{
  width: 40px;
  height: 40px;
}

.confirmBtn {
  margin: 20px 0px;
}

.inActiveCnfBtn{
  padding: 4px 12px;
  border-radius: 3px;
  outline: none;
  border: 2px solid rgb(162, 159, 159);
  background: white;
  color: gray;
}

.activeCnfBtn{
  background-color: #2c6959;
  color: white;
  border: 2px solid #2c6959;
  padding: 4px 12px;
  border-radius: 3px;
  outline: none;
}

.imgInput {
  height: 42px !important;
  padding: 8px 4px;
}

.studentCV_logobox img{
  object-fit: cover;
  width: 69px;
  margin-right: 9px;
}