.eventForm_weekDays {
  /* border:1px solid red; */
}
.eventForm_weekDays_carousel {
  position: relative;
}

.eventForm_weekDays_carousel button.owl-prev span {
  /* border:1px solid blue; */
  position: absolute;
  top: 15px;
  font-size: 70px !important;
  line-height: 20px;

  color: #2c6959;
  font-weight: bolder;
  left: -15px;
}
.eventForm_weekDays_carousel button.owl-next span {
  position: absolute;
  top: 15px;
  font-size: 70px !important;
  line-height: 20px;
  color: #2c6959;
  font-weight: bolder;
  right: -15px;
}

.nopad {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
  
}
.weekdays {
  display: flex;
}

.cutOptions{
  position: absolute;
  top: 0px;
  cursor: pointer;
  right: 0px;
}

/*image gallery*/
.image-checkbox {
 text-align: center;
  margin: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #2c6959;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: -1;
  margin-bottom: 0;
  outline: 0;
}

.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  background-color: #2c6959;
  color: white;
  font-weight: 700;
}
.eventForm_weekDays {
  margin: auto;
}

.image-checkbox .active{ 
  background-color: red;
}